* {
    padding: 0;
    margin: 0;
}

:root {
    --gridSize: 0;
    --background: #111111;
    --foreground: #212227;
    --accent: #7266ee;
    --glow: rgba(114, 102, 238, 0.25);
    --neutral: #5f616c;
    --text: #ffffff;

}

.container {
    display: grid;
    grid-template-columns: repeat(var(--gridSize), 1fr);
    grid-template-rows: repeat(var(--gridSize), 1fr);
    width: 400px;
    height: 400px;
    outline: 2px solid var(--neutral);
}

.slider {
    appearance: none;
    width: 200px;
    height: 8px;
    border-radius: 8px;
    background: var(--neutral);
    outline: none;
    opacity: 0.75;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--accent);
    border: 1px solid var(--foreground);
    cursor: pointer;
}

.color-picker {
    appearance: none;
    background: none;
    border: none;
    width: 100px;
    height: 50px;
}

.color-picker::-webkit-color-swatch {
    border-radius: 6px;
}

.color-picker:hover {
    cursor: pointer;
}

button {
    background-color: var(--accent);
    color: var(--text);
    border: none;
    font-size: 22px;
    border-radius: 6px;
    width: 100px;
    height: 40px;
    transition: box-shadow 0.25s ease-in-out;
}

button:hover {
    box-shadow: 0 0 6px 6px var(--glow);
    cursor: pointer;
}